<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MHQ Consulting</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
</head>

<body>
  <div class="container">

    <div class="nav-wrapper">
      <img src="<%= Routes.static_path(@conn, "/images/logo.png") %>" alt="MHQ Logo" height="45" width="45" />
      <div class="topnav">
        <%= link "Home", to: Routes.page_path(@conn, :index) %>
        <%= link "About", to: Routes.about_path(@conn, :main) %>
        <%= link "Contact", to: Routes.contact_path(@conn, :main) %>
      </div>
    </div>

    <%= render @view_module, @view_template, assigns %>
  </div>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</body>

</html>