
<div>
<h1>Contact Us!</h1>
</div>

<%# <ul id='msg-list' class='row' style='list-style: none; min-height:200px; padding: 10px;'></ul>

<div class="row">
  <div>
    <input type="text" id="name" class="form-control" placeholder="Your Name" autofocus>
  </div>
  <div>
    <input type="text" id="msg" class="form-control" placeholder="Your Message">
  </div>
</div> %>

   <div id="chat-box">
    </div>
    
    <form id="chat-form">
      <input type="text" placeholder="Username" id="user-name"></input>
      <textarea placeholder="Your comment" id="user-msg"></textarea>
      <button type="submit">Post</button>
    </form>